/* erste 2 kasten*/

.Titel{
    text-decoration: none;
    color: rgb(0, 0, 0);
}



/* kasten*/

.dropbtn {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

  }
  
/* kasten ausrichtung*/

  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
/* kisten dropdown*/

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    

  }

/* text dropdown*/

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-decoration: none;
  }
  
/*hover*/

  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #0000009c;
  }


  /*hintergrundbild*/  

  body{ 
background: url(bilder/body_hintergrundbild.jpg);
background-repeat: no-repeat;
background-size: 100%;
margin: 100px;
font-family: Arial, Helvetica, sans-serif;
  }

